body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  background: linear-gradient(45deg, #ff7b00 50%, #f8d406 90%);
  color: white !important;
  border: gray 1px solid !important;
}
.btn:hover{
  background: linear-gradient(45deg, #ff7b00a2 50%, #f8d406ab 90%);
}
.imagesLP{
  width: 100%;
}